.roadMap {
    position: relative;
    &__picture {
        position: relative;
        align-self: center;
        video {
            width: 100%;
        }
    }

    &__description {
        &__title {
            color: #bfc500;
            font-weight: 500;
            font-style: italic;
            font-size: 1em;
        }

        width: 100%;
        position: relative;
        transform: translate3d(-50%, 0, 0);
        left: 50%;

        .faq-row-wrapper {
            background: transparent;
            .faq-title {
                text-align: left;
                font: normal normal bold 22px EquinoxBold;
                letter-spacing: 0px;
                color: #FFFFFF;
                opacity: 1;
            }
        
            .faq-body {
                // border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc dotted;

                .faq-row {
                    .row-title {
                        // font: normal normal bold 22px EquinoxBold;
                        letter-spacing: 0px;
                        color: #FFFFFF;
                        opacity: 1;

                        padding: 15px 0;
                    }

                    .row-content {
                        .row-content-text {                            
                            padding: 15px;
                            padding-top: 0;

                            // font: normal normal bold 14px Equinox;
                            line-height: 22px;
                            letter-spacing: 0px;
                            color: #B8B8B8;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}