.bathRoom {
    display: flex;
    justify-content: space-between;

    &__content {
        padding-right: 50px;
    }

    &__picture {
        width: 40%;
        align-self: center;
        text-align: center;

        img {
            width: 100%;
            border-radius: 10px;
        }
    }
}

@media (max-width: 992px) {
    .bathRoom {
        flex-wrap: wrap;

        &__content {
            padding-right: 0px;
        }

        &__picture {
            width: 100%;
            margin-top: 30px;
        }
    }
}