.intro {
  position: relative;
  top : 100px;

  &__back {
    position: relative;
    text-align: center;


    img {
      width: 100%;
    }
  }

  &__welcome {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__desc {
      width: 100%;
    }

    &__pictures {
      width: 0%;
      display: flex;
      position: relative;
      flex-wrap: wrap;
      align-content: center;

      div {
        width: 46%;
        padding: 2%;
        position: relative;

        img {
          width: 100%;
        }
      }
    }
  }

  &__fair {
    margin-bottom: 1.5rem;
      margin-top: 1.5rem;
    &__title {
      color: #0070C0;
      font-style: italic;
      font-weight: 500;
      font-size: 1.6em;
      line-height: 1.2;
      margin-bottom: 1.5rem;
      margin-top: 1.5rem;
    }

    &__mint {
      display: flex;
      flex-wrap: wrap;
      margin: auto !important;
      padding: 1.5rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      background-color: #0070C0;

      &__title {
        width: 35%;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          border: none;
          background-color: transparent;
          font-size: 1.5em;
          font-weight: 900;
          font-style: italic;
          cursor: pointer;

          color: #000;
          text-align: center;
          line-height: 1.2;
          text-overflow: ellipsis;
            white-space: break-spaces;
            overflow: hidden;
        }
      }

      &__desc {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;

        text-align: justify;
        font-size: 1em;
        font-weight: 400;
        line-height: 1.5;
        color: black;
      }

      &__counter {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25%;

        button {
          margin: 0 10px;
          background-color: transparent;
          border: none;
          cursor: pointer;
          img {
            width: 50px;
          }
        }

        div {
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 51px;
          line-height: 60px;

          color: black;
        }
      }

      &__wrapper {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        text-align: center;

        button {
          background-color: black;
          height: 80%;
          border-radius: 10px;
          display: flex;
          max-width: 70%;

          color: #0070C0;
          border: unset;
          outline: unset;
          font-size: 1.2em;
          padding: 1rem;
          line-height: 1.5;
          cursor: pointer;

          display: flex;
          align-items: center;

          &:hover {
            color: white;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .intro {
    &__back {
      img {
        // width: 75%;
      }
    }

    &__welcome {
      &__desc {
        width: 100%;
      }

      &__pictures {
        width: 100%;
      }
    }

    &__fair {
      &__mint {
        &__title {
          width: 100%;
          margin-block-start: 0.5em;
          margin-block-end: 0.5em;
        }

        &__desc {
          width: 100%;
          margin-block-start: 0;
        }

        &__counter {
          width: 100%;
          margin-block-start: 0;
          justify-content: center;
        }

        &__wrapper {
          width: 100%;

          button {
            padding: 2rem !important;
          }
        }
      }
    }
  }
}

.mint-spinner {
  animation: spin 1s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
