.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__siteName {
        margin: 15px 0px;
        font-size: 1.3em;
        text-align: center;
    }

    &__links {
        margin: 15px 0px;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            margin: 0px 10px;

            img {
                width: 20px;
            }
        }
    }

    &__copyright {
        margin: 15px 0px;
    }
}